@keyframes moveDownAnimation {
    100% {
        background-position-y: 100%;
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: crtAnimation 1.2s 0.2s both;
    animation-timing-function: cubic-bezier(0.2, -0.1, 0, 1);
    overflow: hidden;
    font-family: "VT323", monospace;
    cursor: url(/default.svg), default !important;
}

button, select, .pointer{
    cursor: url(/pointer.svg), pointer !important;
}

#ui-container {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#top-ui{
    display: flex;
    justify-content: space-between;
}

span {
    color: rgb(235, 235, 235);
    text-shadow: 0px 0px 2px hsl(120, 100%, 80%),
    0px 0px 15px green,
    0px 0px 60px green;
    line-height: 1;
    transform: translateZ(100px);
    backface-visibility: hidden;
    font-size: 21px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#crt-lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url(/lines.jpg);
    z-index: 10;
    background-size: 7px auto;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.4;
    animation: moveDownAnimation 150s linear infinite;
}

#darken {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

#vignette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: url(/vignette.png);
    background-size: 100% 100%;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.6;
}

@keyframes crtAnimation {
    0% {
        transform: scaleY(0) scaleX(0);
        filter: brightness(15) blur(0px);
    }
    20% {
        transform: scaleY(0.02) scaleX(0.8);
        filter: brightness(15) blur(0px);
    }
}

.type::after {
    content: ' █';
    animation: cursor 1.1s infinite step-start;
}

.no-type::after{
    content: ''
}
   
@keyframes cursor {
    50% {
        opacity: 0;
    }
}
#pressable-screen {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

#shadow {
    filter: drop-shadow(0px 0px 2px hsl(120, 100%, 80%)) drop-shadow(0px 0px 8px green);
}
#red-shadow {
    filter: drop-shadow(0px 0px 2px hsl(0, 100%, 80%)) drop-shadow(0px 0px 8px red);
}